---
import { getCollection } from 'astro:content'

const collectionName = 'post'
const allEntries = await getCollection(collectionName)
---

<h1>{collectionName} entries</h1>
<ul>
    {allEntries.map(entry => (
        <li>
            <a href={`/post/${entry.id}`}>
                {entry.data.title}
            </a>
        </li>
    ))}
</ul>
<style>
    
</style>
